- provider = local_assigns.fetch(:provider)
- extra_data = local_assigns.fetch(:extra_data, {})
- filterable = local_assigns.fetch(:filterable, true)
- provider_title = Gitlab::ImportSources.title(provider)

#import-projects-mount-element{ data: { provider: provider, provider_title: provider_title,
                               can_select_namespace: current_user.can_select_namespace?.to_s,
                               ci_cd_only: has_ci_cd_only_params?.to_s,
                               namespaces_path: import_available_namespaces_path,
                               repos_path: url_for([:status, :import, provider, format: :json]),
                               jobs_path: url_for([:realtime_changes, :import, provider, format: :json]),
                               import_path: url_for([:import, provider, format: :json]),
                               filterable: filterable.to_s }.merge(extra_data) }
